body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #181818;
  margin: 0;
  text-align: center;
  /* width: 100%; */
}
.material-icons {
  font-size: 40px;
  color: #8cada5;
  transition: all 0.3s;
}
.material-icons:hover {
  font-size: 40px;
  color: #1bac88;
  transform: scale(1.3);
}
.header {
  display: grid;
  width: 80%;
  max-width: 800px;
  margin: auto;
}
.rockus h1 {
  margin-bottom: 0;
  text-align: start;
}
.nav {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.nav h3 {
  margin: 11px;
}
h1 {
  color: bisque;
}

h1:hover > ul {
  pointer-events: all;
  opacity: 100%;
}
h2 {
  color: antiquewhite;
}
h3 {
  transition: all 0.3s ease;
}
h3:hover {
  cursor: pointer;
  color: #02675a;
  transform: scale(1.1);
}

h3:hover > ul {
  pointer-events: all;
  opacity: 100%;
}
hr {
  max-width: 800px;
}
a {
  text-decoration: none;
  color: #55a792;
  transition: all 0.3s ease;
}

.main_header a:hover {
  transform: scale(1.2);
}
button {
  border-radius: 1vw;
  margin: 1vw;
  background: #181818;
  width: 16vw;
  min-width: 120px;
  height: 4vw;
  min-height: 30px;
  font-size: 2vw;
  color: #8cada5;
  transition: all 0.5s ease-out;
  /* box-shadow: 2px 2px bisque; */
}
button:hover {
  transform: scale(1.1);
  background-color: #0a0707;
  /* border-radius: 0; */
  color: #1bac88;
  /* font-size: 3.5vw; */
  cursor: pointer;
  border: none;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
  /* box-shadow: 1px 1px 8px #888888; */
}
ul {
  display: initial;
  position: absolute;
  /* background-color: #2a2a2a; */
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}
li {
  min-width: 100px;
  padding: 8px;
  list-style-type: none;
  margin: 12px;
  border-radius: 10px;
  background-color: #181818;
  border-left: 1px solid bisque;
  border-top: 1px solid bisque;
  transition: all 0.5s ease;
}
li:hover {
  color: #02675a;
  /* border-radius: 0; */
  background: #0a0707;
  transform: scale(1.02);
  border: none;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
}

@media (max-width: 500px) {
  /* .rockus{
    justify-content: start;
  }
.rockus h1{
  text-align: start;
  margin-bottom: 0;
}
.nav {
  display: flex;
  justify-content: end;
  gap: 30px;
} */
  button {
    border-radius: 1vw;

    width: 60vw;
    height: 16vw;
    font-size: 8vw;
  }
}
