


.user_image,
.user_mail {
  margin: auto;
  display: block;
}

.wellcom h1 {
  color: rgb(97, 169, 232);
}
.about {
  width: 90%;
  margin: auto;
}
.about h2 {
  color: #8cada5;
}
.material-icons {
  font-size: 40px;
  color: #8cada5;
  transition: all 0.3s;
}
.material-icons:hover {
  font-size: 40px;
  color: #1bac88;
  transform: scale(1.3);
}
.yandex {
  position: absolute;
  bottom: 10px;
}
@media (max-width: 500px) {


  .wellcom h1 {
    font-size: 7vw;
  }

  .about h2 {
    font-size: 6vw;
  }
  .buttons {
    display: grid;
  }
}
