body {
  font-family: "Montserrat Alternates", sans-serif;
}

.header > * {
  text-align: center;
}
.logo{
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.who_are_we{
  width: 80%;
  margin: auto;
}

.btns > * {
  display: inline-block;
  margin-left: 1vw;
  font-size: 2.5vh;
  text-decoration: none;
  font-weight: 450;
  font-style: italic;
  color: #000;
  border-radius: 1.3vw;
  transition: all 0.1s linear;
  font-family: inherit;
  padding: 5px;
}
.courses_btn{
  border-left: 2px solid rgb(40, 48, 48);
  border-right: 2px solid rgb(40, 48, 48);
  border-bottom: 6px solid rgb(40, 48, 48);
}
.card_btn{
  border-left: 2px solid rgba(34, 140, 211, 0.786);
  border-right: 2px solid rgba(34, 140, 211, 0.786);
  border-bottom: 6px solid rgba(34, 140, 211, 0.786);
}
.webinfo_btn{
  border-left: 2px solid #34bbb4;
  border-right: 2px solid #34bbb4;
  border-bottom: 6px solid #34bbb4;
}
