body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #181818;
  margin: 0;
  text-align: center;
  width: 100%;
}

p {
  font-size: 14vw;
  text-decoration: none;
  color: bisque;
  margin: 0;
}

button {
  border-radius: 1.5vw;
  margin: 1vw;
  background: #181818;
  width: 20vw;
  height: 6vw;
  font-size: 3vw;
  color: #8cada5;
  transition: all 0.3s ease-out;
}
button:hover {
  transform: scale(1.1);
  background: #0a0707;
  border-radius: 0;
  color: #1bac88;
  font-size: 4vw;
  cursor: pointer;
}
h1 {
  color: rgb(97, 169, 232);
}
h2 {
  width: 80%;
  margin: auto;
  color: #8cada5;
}

.yandex {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media only screen and (max-width: 500px) {

button{
  width: 80vw;
  height: 16vw;
  font-size: 8vw;
  margin-top: 20px;
}
h1,h2{
  width: 95%;
  
  margin: auto;
}
.yandex {
  position: initial;
 
}
img{
  margin-top: 30px;
}
}
