::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}




.form * {
    outline: none;
}
.form_body {
    position: relative;
}

.form_body._sending::after {
    opacity: 1;
    visibility: visible;
}
/* *sending */
.form {
    max-width: 550px;
    margin: 0px auto;
    color: #fff;
    padding: 30px 0;
}
.form_item {
    margin: 0px 0px 30px 0px;
}

.form_title {
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}
.form_input {
    height: 50px;
    padding: 0px 0px;
    border-radius: 5px;
    width: 99%;
    font-size: 18px;
}
.form_input:focus {
    box-shadow: 0 0 15px #7a956b;
}
.form_input._error {
    box-shadow: 0 0 15px red;
}
textarea.form_input {
    min-height: 120px;
    resize: vertical;
}
/* .checkbox {

} */
.checkbox._error .checkbox_label::before {
    box-shadow: 0 0 15px red;
}
.checkbox_input {
    display: none;
}
.checkbox_input:checked + .checkbox_label::after {
    transform: scale(1);
}
.checkbox_label {
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.checkbox_label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0px 10px 0px 0px;
}
.checkbox_label::after {
    transition: all 0.5s ease 0s;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #7a956b;
    border-radius: 4px;
    transform: scale(0);
}

.checkbox_label a {
    color: #7a956b;
}
/* .form_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background: rgb(140, 223, 209);

    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 #161b13;
    transition: background-color 0.5s ease 0s;

    margin: auto;
} */
/* .form_button:hover {
    background-color: rgb(111, 179, 167);
} */
.form_button:active {
    top: 3px;
    box-shadow: 0 2px 0 #161b13;
}

#contact {
    height: 5vh;
    display: inline-block;
    margin: auto;
}
#contact:hover{
    transform: scale(1.1);
}
.contacts {
    display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}


.confirm_email {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    /* background-color: #34bbb4; */
    /* background: rgb(140, 223, 209); */

    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    /* border-radius: 20px; */
    /* border: none; */
    transition: background-color 0.5s ease 0s;

    margin: auto;
    margin-top: 1vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.close {
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}
