.bar > a {
    display: inline-block;
    margin-left: 1vw;
    font-size: 1.7vh;
    text-decoration: none;
    font-weight: 400;
    font-style: italic;
    color: #051118;
    border-left: 2px solid var(--blueColor);
    border-right: 2px solid var(--blueColor);
    border-bottom: 2px solid var(--blueColor);
    border-radius: 1.5vw;
    border-top: 0.4vh solid var(--blueColor);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.6vh;
    padding-top: 0.8vh;
    transition: all 0.1s ease-in-out;
}

.closer {
    background-color: var(--blueColor);
}

.closer_opened {
    background-color: white;
}
