body {
  /* background-color: rgb(41, 47, 64); */
  background-color: #1e352f;
}
hr {
  /* width: 100%; */
}
.main {
  opacity: 0;
}
.header {
  display: flex;
  flex-direction: row;
}
.header input {
  margin: auto 10px;
}
.header button {
  margin: auto 0;
}
.connect_gif {
  display: none;
}
.root {
  width: 80%;
  margin: 0 auto;
  /* background-color: aliceblue; */
}
h1 {
  color: white;
}
.block1 {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.main_relay {
  display: flex;
  width: 340px;
  flex: 0 0 auto;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px;
}
.main_relay .input {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  justify-content: space-around;
}
.main_relay .input .input_each {
  text-align: center;
}
.main_relay .input .input_each h4 {
  margin: 0;
  color: white;
}
#main_switch {
  cursor: pointer;
  width: 10%;
  border-radius: 4px;
  background-color: red;
  writing-mode: vertical-rl;
  text-orientation: upright;
  transition: all 0.2s;
  border: 2px solid white;
}
#main_switch:hover {
  background-color: rgb(166, 2, 2);
}
#main_switch:active {
  background-color: rgb(255, 0, 0);
  transform: scale(0.95);
}
#main_switch p {
  /* margin-left: 30px; */
  color: white;
  margin: 0;
  margin-right: 6px;
}
.main_relay .output {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  justify-content: space-around;
}
.main_relay .output .output_each {
  text-align: center;
}
.main_relay .output .output_each h4 {
  margin: 0;
  color: white;
}
#collector1 {
  width: 100px;
  height: 220px;
  border: 2px solid white;
  border-radius: 8px;
  margin-left: 10px;
}
.socket_switches {
  width: 214px;
  height: 218px;
  border: 2px solid white;
  border-radius: 8px;
  margin-left: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  /* flex: 0 0 auto; */
}
.socket_item {
  margin: 5px auto;
  cursor: pointer;
  width: 80%;
  height: 20px;
  border: 2px solid white;
  border-radius: 4px;
  /* background-color: red; */
  color: white;
  transition: all 0.2s;
  padding-left: 10px;
  background-color: red;
}
.socket_item:hover {
  background-color: rgb(166, 2, 2);
}
.socket_item:active {
  background-color: rgb(255, 0, 0);
  transform: scale(0.95);
}
.socket_menu {
  width: 340px;
  height: 220px;
  border: 2px solid white;
  border-radius: 8px;
  margin-left: 10px;
  flex: 0 0 auto;
}
#socket_info {
  margin: 0;
  color: white;
  text-align: center;
}
@media (max-width: 500px) {
  body {
    margin: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    width: 322px;
    /* text-align: center; */
  }
  .header input {
    margin: auto;
    width: 250px;
  }
  .header button {
    margin: 10px auto;
    width: 257.2px;
  }
  .root {
    width: 100%;
    /* padding: 8px; */
    /* margin: 8px; */
  }
  .block1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
  }
  .main_relay {
    width: 322px;
  }
  #collector1 {
    margin-top: 10px;
    margin-left: 0;
  }
  .socket_switches {
    margin-top: 10px;
    width: 224px;
  }
  .socket_menu {
    margin-left: 0;
    margin-top: 10px;
  }
}
