body {
  margin: 0%;
  overflow-x: hidden;
}
.header {
  z-index: 999;
  position: fixed;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 4.2vw;
  background-color: #336281;
}
.panorama {
  white-space: nowrap;
  font-size: 1.5vw;
  color: #ffffff;
  font-family: "M PLUS 1p";
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(34, 34, 34);
  margin-top: 1.1vw;
  margin-left: 7vw;
}
.menu {
  display: none;
}
.catalog {
  font-size: 0.9vw;
  color: rgb(255, 255, 255);
  font-family: "M PLUS 1p";
  font-weight: bold;
  margin-top: 1.5vw;
  margin-right: 5vw;
}
a {
  text-decoration: none;
}
.services {
  font-size: 0.9vw;
  color: rgb(255, 255, 255);
  font-family: "M PLUS 1p";
  font-weight: bold;
  margin-top: 1.5vw;
  margin-right: 5vw;
}
.call {
  display: flex;
}
.linkwhts {
  margin: 0;
  align-self: center;
}
.whts {
  margin-right: 1vw;
  width: 2.2vw;
}
.number {
  font-size: 1.3vw;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 1.4vw;
}
.tg {
  margin-left: 1vw;
  width: 2.2vw;
  margin-right: 5vw;
}
.linkTg {
  margin: 0;
  align-self: center;
}
.callmobile {
  display: none;
}
.whtsmobile {
  display: none;
}
.numbermobile {
  display: none;
}
.tgmobile {
  display: none;
}
.imgwindow {
  width: 100vw;
  margin-top: 2.7vw;
}
.imgwindowmobile {
  display: none;
}
.freeservices {
  display: flex;
  justify-content: center;
}
.textfreeservices {
  color: #4b7b9e;
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 1vw;
}
.blocksfreeservices {
  display: flex;
  justify-content: space-evenly;
}
.block1 {
  text-align: center;
  flex-direction: column;
  display: flex;
  width: 20.2vw;
  height: 17vw;
  background-color: #57a2bd;
  margin-left: 17vw;
  border-radius: 0.6vw;
}
.block2 {
  text-align: center;
  flex-direction: column;
  display: flex;
  width: 20.2vw;
  height: 17vw;
  background-color: #57a2bd;
  border-radius: 0.6vw;
}
.block3 {
  text-align: center;
  flex-direction: column;
  display: flex;
  width: 20.2vw;
  height: 17vw;
  background-color: #57a2bd;
  margin-right: 17vw;
  border-radius: 0.6vw;
}
.imgb1 {
  margin-top: 3%;
  margin-left: 0.7vw;
  width: 93%;
}
.imgb2 {
  margin-top: 3%;
  margin-left: 0.7vw;
  width: 93%;
}
.imgb3 {
  margin-top: 3%;
  margin-left: 0.7vw;
  width: 93%;
}
.textb1 {
  margin-top: 0vw;
  font-weight: 350;
  font-family: "Roboto";
  color: #ffffff;
  font-size: 1.5vw;
}
.textb2 {
  margin-top: 0vw;
  font-weight: 350;
  font-family: "Roboto";
  color: #ffffff;
  font-size: 1.5vw;
}
.textb3 {
  margin-top: 0vw;
  font-weight: 350;
  font-family: "Roboto";
  color: #ffffff;
  font-size: 1.5vw;
}
.brandsweworkwith {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.textbrand {
  color: #4b7b9e;
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 2vw;
  margin-top: 2vw;
}
.blockimgbrands {
  margin-top: 3vw;
}
.imgbrands {
  width: 63vw;
}
.imgbrandsmobile {
  display: none;
}
.shortaboutus {
  display: flex;
  margin-top: 8vw;
  position: relative;
}
.imgshort {
  width: 100vw;
}
.imgshortmobile {
  display: none;
}
.tableshort {
  position: absolute;
  font-size: 1.5vw;
  font-family: "M PLUS 1p";
  font-weight: bold;
  margin-left: 17vw;
  margin-top: 3.5vw;
  color: #4b7b9e;
}
.textshort {
  position: absolute;
  width: 25vw;
  font-size: 1.05vw;
  font-family: "M PLUS 1p";
  font-weight: 200;
  margin-left: 17vw;
  margin-top: 7.5vw;
}
.blockcallsurveyor {
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 18vw;
  height: 7vw;
  background-color: #336281;
  border-radius: 0.7vw;
  margin-left: 65vw;
  margin-top: 5vw;
}
.callsurveyortext {
  text-align: center;
  color: #ffffff;
  font-size: 1.6vw;
  font-family: "M PLUS 1p";
  margin-top: 1.3vw;
  margin: 0%;
}
.mailcallsurveyor {
  color: #ffffff;
  font-size: 1.5vw;
  font-family: "Roboto";
  font-weight: 400;
  margin-top: 0.5vw;
  text-decoration: underline;
  margin-left: 2.5vw;
}
.telephone {
  display: none;
}
.imgtelephone {
  display: none;
}
.end {
  justify-content: space-between;
  margin-top: 10vw;
  display: flex;
  width: 100%;
  height: 12vw;
  background-color: #336281;
}
.panorama2 {
  white-space: nowrap;
  font-size: 1.5vw;
  color: #ffffff;
  font-family: "M PLUS 1p";
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(34, 34, 34);
  margin-top: 2.5vw;
  margin-left: 17vw;
}
.number2 {
  white-space: nowrap;
  font-size: 1.3vw;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 2.9vw;
  text-align: end;
  margin-right: 15vw;
  line-height: 2.5vw;
}
.mailcallsurveyor {
  text-decoration: none;
  margin: 0%;
}
.emailOrTel {
  margin: 0%;
  align-self: center;
  text-decoration: none;
  text-align: center;
}
.custom-select {
  display: none;
}
@media screen and (max-width: 500px) {
  body {
    align-content: center;
    justify-content: center;
  }
  .header {
    height: 20vw;
    justify-content: space-between;
    display: flex;
    width: 100vw;
  }
  .panorama {
    font-size: 4.4vw;
    margin: 0%;
    margin-top: 3.5vw;
    margin-left: 5vw;
    margin-bottom: 0vw;
  }
  .first {
    display: flex;
    flex-direction: column;
  }
  .noFlexMobile {
    display: none;
  }
  .menu {
    display: block;
    width: 10vw;
    margin-top: 5.5vw;
    margin-left: 30vw;
  }
  .catalog {
    display: none;
  }
  .services {
    display: none;
  }
  .callmobile {
    margin-left: 6.5vw;
    display: flex;
  }
  .whtsmobile {
    display: block;
    width: 6vw;
    margin-right: 1vw;
  }
  .linkwhtsmobile {
    align-self: center;
    margin: 0%;
  }
  .linkTgMobile {
    align-self: center;
  }
  .numbermobile {
    display: block;
    font-size: 3.3vw;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-weight: bold;
  }
  .tgmobile {
    display: block;
    width: 6vw;
    margin-left: 1vw;
  }
  .call {
    display: none;
  }
  .imgwindow {
    display: none;
  }
  .window {
    padding-right: 4%;
  }
  .imgwindowmobile {
    padding-top: 20vw;
    display: inherit;
    width: 94vw;
    height: 100vw;
    /* margin-right: 8px; */
  }
  .textfreeservices {
    font-size: 3vw;
  }
  .blocksfreeservices {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .block1 {
    margin: 0%;
    align-self: center;
    width: 58vw;
    height: 54vw;
    border-radius: 1.5vw;
  }
  .imgb1 {
    margin-left: 2vw;
  }
  .textb1 {
    font-size: 6vw;
  }
  .block2 {
    margin: 0%;
    align-self: center;
    width: 58vw;
    height: 54vw;
    border-radius: 1.5vw;
    margin-top: 3vw;
  }
  .imgb2 {
    margin-left: 2vw;
  }
  .textb2 {
    font-size: 6vw;
  }
  .block3 {
    margin: 0%;
    align-self: center;
    width: 58vw;
    height: 54vw;
    border-radius: 1.5vw;
    margin-top: 3vw;
  }
  .imgb3 {
    margin-left: 2vw;
  }
  .textb3 {
    font-size: 6vw;
  }
  .textbrand {
    font-size: 6vw;
    margin-top: 5vw;
  }
  .imgbrands {
    display: none;
  }
  .imgbrandsmobile {
    display: block;
    width: 80vw;
    align-self: center;
  }
  .blockimgbrands {
    display: flex;
    justify-content: center;
  }
  .imgshort {
    display: none;
  }
  .imgshortmobile {
    display: block;
    width: 100vw;
    margin-top: 10vw;
  }
  .tableshort {
    font-size: 4.5vw;
    margin-left: 5vw;
    margin-top: 15vw;
  }
  .textshort {
    font-size: 2.9vw;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 24vw;
  }
  .blockcallsurveyor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 52.5vw;
    height: 17vw;
    margin-left: 45vw;
    margin-top: 20vw;
    border-radius: 2vw;
  }
  .callsurveyortext {
    font-size: 3.5vw;
    text-decoration: none;
    white-space: nowrap;
    align-self: center;
  }
  .telephone {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: 3.5vw;
    font-family: "Roboto";
    font-weight: 400;
    margin-top: 1.5vw;
    margin-right: 7vw;
  }
  .mailcallsurveyor {
    display: none;
  }
  .imgtelephone {
    display: block;
    width: 10vw;
    height: 10vw;
    margin-left: 4vw;
    margin-right: 2vw;
  }
  .emailOrTel {
    margin: 0%;
    white-space: nowrap;
    line-height: 6vw;
  }
  .second {
    display: flex;
    flex-direction: row-reverse;
  }
  .end {
    height: 30vw;
    width: 100vw;
  }
  .panorama2 {
    display: none;
  }
  .number2 {
    font-size: 2.5vw;
    margin-top: 10vw;
    margin-left: 58vw;
  }
  .third {
    display: flex;
    flex-direction: row;
  }
  .custom-select {
    display: inline;
    min-width: 30px;
    align-self: center;
    margin-left: 2vw;
    margin-top: 4vw;
    appearance: none;
    width: 30vw;
    font-size: 1.15rem;
    padding: 0.675em 0em 0.675em 1em;
    background-color: #336281;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto";
  }
}
