body {
  background-color: #181818;
}
h1 {
  font-size: 60px;
  margin-bottom: 0;
  color: aliceblue;
}
h2 {
  color: antiquewhite;
}
pre {
  color: rgb(217, 128, 12);
  font-size: 30px;
}
/* #actions{
    text-align: ;

} */
a {
}
button {
  cursor: pointer;
  width: 120px;
  background-color: rgb(240, 219, 194);
  height: 30px;
  border-radius: 10px;
}
hr {
  width: 70%;
}
div {
  clear: left;
}
#main > * {
}

#main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* background-color: #ffffff; */
  width: 80%;
  box-shadow: 0 0 5px 10px #ffffff;
}

#main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: aliceblue;
  font-family: "Philosopher";
  text-align: center;
  font-size: 50px;
  width: 60%;
}

#history {
  text-align: justify;
}

.medal_img {
  float: right;
  padding-left: 30px;
  height: 200px;
  display: block;
  /* margin-top: 20vh; */
}

.spacer {
  float: left;
  height: 30vh;
  width: 0px;
}

@media (max-width: 768px) {
  p {
    font-size: 20px;
  }

  .medal_img {
    float: right;
    margin-bottom: 20px;
    margin-right: 18%;
  }

  #main {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }

  #main_img {
    width: 100%;
    box-shadow: 0 0 2px 5px #ffffff;
  }
}
