body {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: relative;
}
.n1 {
  width: 237px;
  height: 163px;
  position: absolute;
  background-color: #f0c692;
  left: 1444px;
  top: 234px;
  border-left: 3px solid #9b7a4e;
  border-top: 3px solid #9b7a4e;
  border-radius: 20px 0px 0px 0px;
  transition: all 300ms;
}
.first {
  position: relative;
  width: 480px;
  height: 440px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin-left: 1101px;
  margin-top: 0px;
}
.second {
  /* overflow: auto; */
  position: relative;
  width: 155px;
  height: 82px;
  width: 137px;
  height: 88px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin-left: 1272px;
  /* margin-top: 0px; */
}

.third {
  overflow: hidden;
  width: 1684px;
  height: 400px;
  background-color: rgb(248, 224, 194);
  display: block;
  margin: auto;
  position: relative;
  /* margin-top: 0px; */
}
.space3 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f0c692;
  top: -3px;
  left: 140px;
}
.space1 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: rgb(248, 224, 194);
  left: 18px;
  top: -3px;
}
.hall {
  overflow: hidden;
  width: 108px;
  height: 64px;
  background-color: #b47d74;
  margin-top: 306px;
  margin-left: 1156px;
  border-radius: 20px 20px 0px 0px;
  border-top: 3px solid #97665e;
  border-right: 3px solid #97665e;
  border-left: 3px solid #97665e;
}

.enter {
  overflow: hidden;
  width: 142px;
  height: 25px;
  background-color: #b47d74;
  display: block;
  margin: auto;
  margin-left: 1156px;
  margin-top: px;
  border: 3px solid #97665e;
}
.security {
  width: 30px;
  height: 97px;
  background-color: #dbe88f;
  border-radius: 40px 0px 0px 0px;
  position: absolute;
  left: 1270px;
  top: 273px;
  border: 3px solid #9b7a4e;
}
.principal {
  width: 135px;
  height: 162px;
  position: absolute;
  background-color: #d9705d;
  left: 1304px;
  top: 240px;
  border-radius: 20px 20px 0px 0px;
  border: 3px solid #9b7a4e;
}
.library2 {
  position: absolute;
  width: 70px;
  height: 160px;
  background-color: #f0c692;
  left: 1508px;
  top: 0px;
  border: 3px solid #9b7a4e;
  border-radius: 0px 0px 0px 20px;
}
.library {
  position: absolute;
  width: 144px;
  height: 230px;
  background-color: #f0c692;
  left: 1537px;
  border-bottom: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-top: 3px solid #9b7a4e;
}
.ddd {
  width: 2px;
  height: 22px;
  background-color: #9b7a4e;
  margin-top: 160px;
}
.eee {
  width: 2px;
  height: 20px;
  background-color: #9b7a4e;
  margin-top: 30px;
}
.head_teacher1 {
  position: absolute;
  width: 82px;
  height: 160px;
  background-color: #b29feaa1;
  border: 3px solid #9b7a4e;
  left: 1423px;
  top: 0px;
  border-radius: 0px 0px 20px 20px;
}
.wardrobe {
  position: absolute;
  width: 120px;
  height: 160px;
  background-color: #a78b71;
  left: 1299px;
  border-radius: 0px 0px 20px 20px;
  border: 3px solid #9b7a4e;
}
.n2 {
  transition: all 300ms;
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 922px;
  top: 234px;
  border-radius: 20px 20px 0px 0px;
  border: 3px solid #9b7a4e;
}
.n3 {
  transition: all 300ms;
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 692px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n4 {
  transition: all 300ms;
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 462px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n5 {
  transition: all 300ms;
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  left: 232px;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 20px 20px 0px 0px;
}
.n6 {
  transition: all 300ms;
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  top: 234px;
  border: 3px solid #9b7a4e;
  border-radius: 0px 20px 0px 0px;
}
.n7 {
  transition: all 300ms;
  position: absolute;
  width: 230px;
  height: 160px;
  background-color: #f0c692;
  border: 3px solid #9b7a4e;
  border-radius: 0px 0px 20px 0px;
}
.toilet {
  position: absolute;
  width: 152px;
  height: 160px;
  background-color: #ffffff96;
  left: 236px;
  border-radius: 0px 0px 30px 10px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.space9 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f8e0c2;
  left: 255px;
  top: 160px;
}
.space10 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f8e0c2;
  left: 333px;
  top: 160px;
}
.space11 {
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #f8e0c2;
  left: 388px;
  top: 23px;
}
.girls {
  position: absolute;
  width: 71px;
  height: 80px;
  background-color: #eca0a0d5;
  top: 80px;
  border-radius: 0px 0px 0px 10px;
  border-right: 3px solid #9b7a4e;
}
.teachers {
  position: absolute;
  width: 78px;
  height: 80px;
  background-color: #4acf7f70;
  border-radius: 0px 0px 28px 0px;
  left: 74px;
  top: 80px;
}
.boys {
  position: absolute;
  width: 152px;
  height: 77px;
  background-color: #50a6c07a;
  border-bottom: 3px solid #9b7a4e;
}
.space2 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f0c692;
  top: 160px;
  left: 140px;
}
.space4 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f0c692;
  top: -3px;
  left: 30px;
}
.space5 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f0c692;
  top: -3px;
  left: 30px;
}
.space6 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f0c692;
  top: -3px;
  left: 30px;
}
.space7 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f0c692;
  top: -3px;
  left: 30px;
}
.space8 {
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: #f8e0c2;
  left: 1299px;
  top: 15px;
}
.space12 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f8e0c2;
  left: 1447px;
  top: 163px;
}
.wardrobe2 {
  position: absolute;
  width: 93px;
  height: 86px;
  background-color: #a78b71;
  left: 1066px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.psiholog {
  position: absolute;
  width: 93px;
  height: 80px;
  background-color: #6fbfbadf;
  left: 1066px;
  top: 89px;
  border-radius: 0px 0px 20px 0px;
  border-right: 3px solid #9b7a4e;
  border-bottom: 3px solid #9b7a4e;
}
.space13 {
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: #f8e0c2;
  left: 1159px;
  top: 15px;
}
.wardrobe3 {
  position: absolute;
  width: 117px;
  height: 166px;
  background-color: #a78b71;
  border-radius: 0px 0px 0px 20px;
  border: 3px solid #9b7a4e;
  left: 943px;
}
.space14 {
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f8e0c2;
  left: 980px;
  top: 169px;
}
.space15 {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #f8e0c2;
  left: 1087px;
  top: 169px;
}
.secondenter {
  position: absolute;
  width: 90px;
  height: 150px;
  background-color: #f0c692;
  left: 77px;
  top: 600px;
  border: 3px solid #9b7a4e;
}

.stairs3 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 15px;
}
.stairs4 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 25px;
}
.stairs5 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 35px;
}
.stairs6 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 45px;
}
.stairs7 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 55px;
}
.stairs8 {
  position: absolute;
  width: 108px;
  height: 6px;
  background-color: #9b7a4e;
  left: 15px;
  top: 65px;
}
.peregorodka {
  position: absolute;
  width: 3px;
  height: 435px;
  background-color: #9b7a4e9f;
  left: 240px;
}
.headstairs {
  position: absolute;
  width: 117px;
  height: 70px;
  background-color: #deb37f80;
  left: 10px;
  top: 9px;
  border-radius: 10px;
}
.shkaf1 {
  position: absolute;
  width: 5px;
  height: 49px;
  background-color: #c68866;
}
.shkaf2 {
  position: absolute;
  width: 5px;
  height: 49px;
  background-color: #c68866;
  left: 132px;
}
.peregorodka2 {
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #9b7a4e9f;
  top: 438px;
}
.peregorodka3 {
  position: absolute;
  width: 160px;
  height: 3px;
  background-color: #9b7a4e9f;
  top: 438px;
  left: 280px;
}
.kab8 {
  position: absolute;
  width: 168px;
  height: 170px;
  background-color: #f0c692;
  top: 93px;
  border-bottom: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-radius: 0px 0px 10px 0px;
  transition: all 300ms;
}
.space17 {
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #f8e0c2;
  left: 168px;
  top: 110px;
}
.kab8:hover {
  transform: scale(1.1);
  z-index: 1;
}
.kab8:hover p {
  visibility: visible;
  transition: all 300ms;
}
.kab8 p {
  position: absolute;
  visibility: hidden;
}
.kab9 {
  position: absolute;
  width: 168px;
  height: 170px;
  background-color: #f0c692;
  top: 265px;
  border-top: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-radius: 0px 10px 0px 0px;
  transition: all 300ms;
}
.space16 {
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #f8e0c2;
  left: 168px;
  top: 110px;
}
.kab9:hover {
  transform: scale(1.1);
  z-index: 1;
}
.kab9:hover p {
  visibility: visible;
  transition: all 300ms;
}
.kab9 p {
  position: absolute;
  visibility: hidden;
}
.shkaf3 {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #c68866;
  left: 158px;
  top: 134px;
}
.prod {
  position: absolute;
  width: 240px;
  height: 90px;
  background-color: #f0c692;
  border-bottom: 3px solid #9b7a4e;
  transition: all 300ms;
}
.space18 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f8e0c2;
  top: 90px;
  left: 190px;
}
.prod:hover {
  transform: scale(1.1);
  z-index: 1;
}
.prod:hover p {
  visibility: visible;
  transition: all 300ms;
}
.prod p {
  visibility: hidden;
}
.n1:hover {
  transform: scale(1.1);
  z-index: 1;
}
.n1:hover p {
  visibility: visible;
  transition: all 300ms;
}
.n1 p {
  position: absolute;
  visibility: hidden;
}
a {
  cursor: pointer;
  scale: 5;
}
.n2 p {
  position: absolute;
  visibility: hidden;
}
.n2:hover {
  transform: scale(1.1);
  z-index: 1;
}
.n2:hover p {
  visibility: visible;
  transition: all 300ms;
}
.n3 p {
  position: absolute;
  visibility: hidden;
}
.n3:hover {
  transform: scale(1.1);
  z-index: 1;
}
.n3:hover p {
  visibility: visible;
  transition: all 300ms;
}
.n4 p {
  position: absolute;
  visibility: hidden;
}
.n4:hover {
  transform: scale(1.1);
  z-index: 1;
}
.n4:hover p {
  visibility: visible;
  transition: all 300ms;
}
.n5 p {
  position: absolute;
  visibility: hidden;
}
.n5:hover {
  transform: scale(1.1);
  z-index: 1;
}
.n5:hover p {
  visibility: visible;
  transition: all 300ms;
}
.n6 p {
  position: absolute;
  visibility: hidden;
}
.n6:hover {
  transform: scale(1.1);
  z-index: 1;
}
.n6:hover p {
  visibility: visible;
  transition: all 300ms;
}
.n7 p {
  position: absolute;
  visibility: hidden;
}
.n7:hover {
  transform: scale(1.1);
  z-index: 1;
}
.n7:hover p {
  visibility: visible;
  transition: all 300ms;
}
.stolovka {
  position: absolute;
  width: 240px;
  height: 440px;
  background-color: #f0c692;
  left: 240px;
}
.library p {
  position: absolute;
}