@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  font-family: "Ysabeau", sans-serif;
  background-color: #181818;
  border: 1px solid #ab2909;
}

a {
  color: #40a6db;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #cccccc;
  border-bottom: 1px solid #ab2909;
}
#today {
  color: aqua;
}
#footer {
  border-top: 1px solid #ab2909;
  border-bottom: none;
}
.header_title {
  font-weight: 500;
  font-style: italic;
}

.header_action {
  text-align: center;
  font-size: 17px;
}
hr {
  color: #cccccc;
}

.my_body {
  display: grid;
  grid-template-columns: 0.14fr 0.16fr 1fr;
  color: #cccccc;
  /* height: 85vh; */
  height: 80vh;
}

.columns {
  /* padding: 6px; */
  overflow: auto;
  scrollbar-width: 5px;
  text-align: center;
  /* overflow-y: hidden; */
}
.columns::-webkit-scrollbar{
  display: none;
}
.one {
  border-right: solid 1px #ab2909;
  scroll-behavior: smooth;
}
.two {
  border-right: solid 1px #ab2909;
  scroll-behavior: smooth;
}
.three {
  margin-top: 16px;
  margin-bottom: 16px;
  scroll-behavior: smooth;
}
#lis{
  width: 70%;
  margin: auto;
}
li{
  text-align: left;
  font-size: 2vw;
}
.column3_img {
  width: 60%;
}
#hr_bottom {
  margin: 0;
  margin-top: 6px;
}
h1 {
  color: #9cdcfe;
}
h2 {
  color: #e44d26;
}
h3 {
  color: #ce9162;
}
table {
  border: 1px dotted #40a6db;
  font-size: 20px;
  color: aliceblue;
  margin: auto;
  padding: 16px;
}
h4 {
  color: #1f1f1f;
}
h5 {
  margin: 0;
}
pre {
  font-family: cursive;
  text-align: left;
}
.sizedbox {
  height: 100%;
}
.number_systems_animation {
  height: 700px;
  width: 300px;
  background-color: #40a6db;
  margin: auto;
}
.drum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #cccccc;
  height: 500px;
  font-size: 25px;
}
.number_colum .sizedbox {
  height: 50%;
}
.number_colum {
  font-family: "Courier New", Courier, monospace;
  background-color: #1f1f1f;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  cursor: grab;
  user-select: none;
}
.letter {
  scroll-snap-align: center;
}
.number_colum_border {
  height: 30px;
  border: solid 3px #cccccc;
  margin: auto;
  position: relative;
  top: 267px;
  pointer-events: none;
}
.number_colum::-webkit-scrollbar {
  display: none;
}

.change_number_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 30px;
  width: 292px;
  margin: 4px;
  column-gap: 6px;
}
#number_systems_animation_caption {
  color: #181818;
}
button {
  box-shadow: 6px 5px 5px #181818;
  background-color: #e44d26;
  border-radius: 10px;
  font-size: 20px;
}
button:hover {
  background-color: #ab2909;
}

.translating_rules {
  height: 700px;
  width: 300px;
  background-color: #40a6db;
  margin: auto;
}

@media (max-width: 500px) {
  body {
    border: none;
    height: 70vh;
  
  }
  .my_body {
    grid-template-columns: 1fr ;
    
  }

  #header_top {
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #070606;
  }

  #footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: #070606;
    border-bottom: none;
    width: 100%;
  }

  .one,
  .two {
    display: none;
  }
.three{
  margin-top: 50px;
  
}
  .column3_img {
    width: 80%;
  }
  pre {

    white-space: pre-wrap;
    font-family: cursive;
  }
  li{
    
    font-size: 6vw;
  }
}
