@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/* html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
} */
body {
  font-family: "Ysabeau", sans-serif;
  background-color: #181818;
  position: fixed;
}
a {
  color: #40a6db;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #cccccc;
}
.header_title {
  font-weight: 500;
  font-style: italic;
}

.header_action {
  text-align: center;
  font-size: 17px;
}
hr {
  color: #cccccc;
}

.my_body {
  display: grid;
  grid-template-columns: 0.14fr 0.16fr 1fr;
  color: #cccccc;
  height: 90vh;
  width: 99vw;
}

.my_body_columns_1 {
  text-align: center;
  border-right: solid 1px #cccccc;
  min-width: 60px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.my_body_columns_1::-webkit-scrollbar {
  display: none;
}
.my_body_columns_2 {
  border-right: solid 1px #cccccc;
  text-align: center;
  min-width: 80px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.my_body_columns_2::-webkit-scrollbar {
  display: none;
}
.my_body_columns_3 {
  text-align: center;
  background-color: #1f1f1f;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: 10px;
}
.column3_img{
  width: 60%;
}
.my_body_columns_3::-webkit-scrollbar {
  display: none;
}
h1 {
  color: #9cdcfe;
}
h2 {
  color: #e44d26;
}
h3 {
  color: #ce9162;
  /* color: #ac4c1f; */
}
h4 {
  color: #1f1f1f;
}
h5 {
  margin: 0;
}
pre {
  font-family: cursive;
  text-align: left;
}
.sizedbox {
  height: 30%;
}
.number_systems_animation {
  height: 700px;
  width: 300px;
  background-color: #40a6db;
  margin: auto;
}
.drum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #cccccc;
  height: 500px;
  font-size: 25px;
  /* margin: auto; */
}
.number_colum .sizedbox {
  height: 50%;
}
.number_colum {
  font-family: "Courier New", Courier, monospace;
  background-color: #1f1f1f;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  cursor: grab;
  user-select: none;
}
.letter {
  scroll-snap-align: center;
}
.number_colum_border {
  height: 30px;
  border: solid 3px #cccccc;
  margin: auto;
  position: relative;
  top: 267px;
  pointer-events: none;
}
.number_colum::-webkit-scrollbar {
  display: none;
}
/* .number_colum:hover {
  overflow-y: scroll;
} */
.change_number_buttons {
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 30px;
  width: 292px;
  margin: 4px;
  column-gap: 6px;
}
#number_systems_animation_caption {
  color: #181818;
}
button {
  box-shadow: 6px 5px 5px #181818;
  background-color: #e44d26;
  border-radius: 10px;
  font-size: 20px;
}
button:hover {
  background-color: #ab2909;
}

.translating_rules {
  height: 700px;
  width: 300px;
  background-color: #40a6db;
  margin: auto;
}
@media (max-width: 500px) {
  .my_body {
    grid-template-columns: 0px 0px 1fr;
  }
  .my_body_columns_3 {
    margin-left: 0;
  }
  pre {
    white-space: pre-wrap;
  }
}
