.header {
  display: grid;
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.rockus h1 {
  margin-bottom: 0;
  text-align: start;
}
.nav {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.nav h3 {
  margin: 0;
}

.main {
  width: 80%;
  margin: auto;
}
.person {
  width: 80vw;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 40vw;
  max-width: 300px;
  background-color: aliceblue;
}
.image img {
  width: 100%;
}

.name {
  width: 40vw;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}
.name input {
  width: 100%;
}
