.main {
    width: 80%;
    margin: auto;
}
.person {
    width: 80vw;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 40vw;
    max-width: 300px;
    transition: all 0.3s;
}
.image:hover {
    cursor: pointer;
    background-color: #212121;
    border-radius: 30px;
}
.image:active {
    transform: scale(0.95);
}
.image img {
    width: 100%;
}

.name {
    width: 40vw;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}
.name input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: black;
    color: #8cada5;
    font-size: 20px;
}
.name p {
    width: 100%;
    height: 30px;
    border: none;
    background-color: black;
    color: #8cada5;
    font-size: 20px;
}
#create {
    width: 27vw;
}
@media (max-width: 500px) {
    .person {
        display: grid;
        justify-content: center;
    }
    .image {
        width: 100%;
    }
    .name {
        width: 100%;
        gap: 20px;
    }
}
