* {
    font-family: "Nunito", sans-serif !important;
}
.slide_main {
    background-image: url("../assets/background.jpg");
    background-size: contain;
    aspect-ratio: 16 / 9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 25px;
        text-align: end;
        padding-right: 2vw;
    }
}

.slide1 {
    h1 {
        margin-top: auto;
    }
    .name {
        margin-top: auto;
    }
}

.slide2_1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cpu_img {
        width: 50%;
        margin-left: 2vw;
    }
    p {
        font-size: 20px;
        text-align: justify;
        margin: 1vw;
    }
}

.slide2_2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .cpu_img {
        height: 65%;
        margin-top: 0;
    }
    p {
        font-size: 20px;
        text-align: justify;
        margin: 1vw;
    }
}
.slide2_3 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cpu_img {
        width: 50%;
        margin-top: 0;
        margin-right: 1vw;
    }
    p {
        font-size: 15px;
        text-align: justify;
        margin: 1vw;

        span {
            display: list-item;
            margin-left: 2vw;
        }
    }
}

.slide4_1 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .cpu_img {
        height: 45%;
        margin-top: 0;
    }

    p {
        margin: 0;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 15px;
        text-align: justify;
    }
}

.slide4_2 {
    p {
        font-size: 20px;
        text-align: justify;
        margin: 1vw;
    }
}

.slide5_1 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .cpu_img {
        width: 60%;
        margin-left: 1vw;
    }

    p {
        font-size: 15px;
        text-align: justify;
        margin: 1vw;

        span {
            display: list-item;
            margin-left: 2vw;
        }
    }
}

.slide6_1 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .cpu_img {
        height: 45%;
        margin-top: 2vw;
    }

    p {
        font-size: 20px;
        text-align: justify;
        margin: 1vw;
    }
}

.slide7_1 {
    flex-direction: column;
    align-items: center;

    .cpu_img {
        height: 70%;
        margin-left: 1vw;
        background-color: white;
    }

    p {
        font-size: 20px;
        text-align: justify;
        margin: 1vw;
        margin-top: 2vw;

        span {
            display: list-item;
            margin-left: 2vw;
        }
    }
}

.slide7_2 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .cpu_img {
        height: 70%;
        margin-left: 1vw;
        background-color: white;
    }

    p {
        font-size: 15px;
        text-align: justify;
        margin: 1vw;
        margin-top: 2vw;

        span {
            display: list-item;
            margin-left: 2vw;
        }
    }
}

.slide8_1 {
    h3 {
        text-align: center;
        padding: 0;
    }
    p {
        font-size: 20px;
        text-align: justify;
        margin: 1vw;
        margin-top: 2vw;
    }
}

.slide9_1 {
    p {
        font-size: 15px;
        text-align: justify;
        margin: 1vw;
        margin-top: 2vw;

        span {
            display: list-item;
            margin-left: 2vw;
        }
    }
}

.slide9_2 {
    h1 {
        margin-bottom: 0;
    }
    p {
        font-size: 14px;
        text-align: justify;
        margin: 1vw;

        span {
            display: list-item;
            margin-left: 2vw;
        }
    }
}

.slide9_3 {
    flex-direction: column;
    align-items: center;
    p {
        font-size: 14px;
        text-align: justify;
        margin: 1vw;
    }

    .cpu_img {
        height: 70%;
    }
}
