body {
  margin: 0;
  background-color: #291720;
}
a {
  color: rgba(255, 255, 255, 0.763);
  text-decoration: none;
}
.header_parent{
  background-color: #181818;
  /* position: fixed; */
  /* left: 10%; */
  top: 0;
  width: 100%;
}
.header {
  width: 60%;
  margin: auto;
  /* margin-top: 8px; */
  /* background-color: #181818; */
}
.header_2floor {
  display: flex;
  justify-content: end;
}
.header_2floor a {
  font-size: 24px;

  margin-right: 12px;
}
.header_1floor {
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 50px;
  /* background-color: rgb(224, 114, 164); */
  position: relative;
}
.header_1floor_a {
  margin-top: 10px;
  font-size: 24px;
}
.name {
    text-align: center;
    color: rgba(255, 255, 255, 0.763);
    /* background-color: cadetblue; */
}
h1{
    margin-top: 0;
}


.nav {
  width: 60%;
  height: 50px;
  margin: auto;
  /* margin-top: 40px; */
  background-color: #3e5c76;
  /* background-color: #1e3f82; */
  display: flex;
  justify-content: space-around;
  /* position: fixed; */
  left: 20%;
  top: 77px;
}
.nav a {
  width: 20%;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  /* background-color: red; */
}
.nav_span {
  /* cursor: pointer; */
  /* width: 25%; */
  font-size: 20px;
  /* margin-top: 14px; */
  /* padding: 12px; */
  color: antiquewhite;
}
.nav a:hover {
  background-color: #163550;
}

input {
  margin: 10px 12px 0 12px;
  width: 20%;
  height: 25px;
}
