
p {
  /* margin: 0; */
}


.material-icons {
  transition: all 0.3s;
  cursor: pointer;
}
.material-icons:hover {
  transform: scale(1.3);
}
/* h1 {
  margin-top: 0;
} */
.sizedBox {
  /* width: 100%; */
  height: 100vh;
  /* background-color: black; */
}
.ul_menu {
  transition: all 0.3s;
  opacity: 0;
  width: 150px;
  height: 300px;
  position: absolute;
  font-family: inherit;
  background-color: blue;
}
.ul_menu:hover {
  /* transform: scale(0.8); */
}
li {
  font-family: inherit;
}
#close_menu {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: red;
}
.root {
  /* vertical-align: middle;
    margin: auto;
    margin-top: 20px;
    width: 96%;
    height: 800px;
    /* background-color: #1a1d1f; */
  /* display: flex;
    padding: 1%; */
}
.aside {
  /* margin-left: 1%; */
  width: 28%;
  height: 800px;
  background-color: gray;
}
.main {
  /* width: 68%;
    height: 800px;
    background-color: rgb(175, 174, 174); */
}
.nav {
  width: 60%;
  height: 50px;
  margin: auto;
  margin-top: 40px;
  background-color: #3e5c76;
  /* background-color: #1e3f82; */
  display: flex;
  justify-content: space-around;
}
.nav a {
  width: 20%;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  /* background-color: red; */
}
.nav_span {
  /* cursor: pointer; */
  /* width: 25%; */
  font-size: 20px;
  /* margin-top: 14px; */
  /* padding: 12px; */
  color: antiquewhite;
}
.nav a:hover {
  background-color: #163550;
}

input {
  margin: 10px 12px 0 12px;
  width: 20%;
  height: 25px;
}
.recommended {
  margin: auto;
  margin-top: 80px;
  width: 60%;
  color: white;
}
.items {
  display: flex;
  height: 400px;
  padding: 6px;
  background-color: #181818;
}
.face{
  width: 70%;
  height: 100%;
  /* background-color: green; */
}
.content{
  width: 30%;
  height: 100%;
  /* background-color: blue; */
}