.material-icons {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.763);
}
.main {
  margin: auto;
  margin-top: 50px;
  height: 600px;
  width: 900px;
  /* background-color: white; */
}
.sign_up {
  text-align: center;
}
h3 {
  cursor: pointer;
  text-align: center;
  margin-left: -120px;
  color: rgba(255, 255, 255, 0.763);
  transition: all 0.3s;
}
h3:hover {
  color: rgb(216, 249, 199);
}
.vhod {
  display: none;
  margin: auto;
  text-align: center;
  width: 60%;
  height: 240px;
  background-color: #181818;
}
#h10 {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.763);
}
.inputs {
  margin: auto;
  /* text-align: center; */
  height: 400px;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #181818;
}
.sign_up input,.vhod input {
  font-size: 30px;
  /* height: 30px; */
  /* margin-left: 50px; */
  width: 60%;
  margin-top: 10px;
}
#button_registor {
  /* width: 150px; */
  margin-left: -120px;
  font-size: 25px;
  box-shadow: 5px 5px 5px ;
}
#button_registor:hover {
  cursor: pointer;
}
#voiti{
  cursor: pointer;
  font-size: 25px;
  margin-left: -250px;
  box-shadow: 5px 5px 5px;
}
