body{
    background-color: rgb(199, 244, 247);
    text-align: center;
}
h1{
    text-align: center;
    font-size: 6vh;
    color: rgb(4, 93, 41);
}
h2{
    font-size: 3em;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
img{
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@media (max-width: 768px){
    h1{
        text-align: center;
        font-size: 4vh;
        color: rgb(4, 93, 41);
    }
    h2{
        font-size: 1.5em;
        max-width: 80%;
        text-align:center;
        color: black;
    }
    img{
        height: 30vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }