body{
    background-color: rgb(199, 244, 247);
    text-align: center;
}
h1{
    text-align: center;
    font-size: 6vh;
    color: rgb(4, 93, 41);
}
#bbb{
    font-size: 3em;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px){
    h1{
        text-align: center;
        font-size: 4vh;
        color: rgb(4, 93, 41);
    } 
    #bbb{
        font-size: 3vh;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
img{
    height: 33vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
