.modul1 {
  overflow-y: scroll;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  margin: auto;
  /* height: 500px; */
  background-color: #181818;
  transition: all 0.3s;
  background-color:rgb(255, 239, 220);
}
.modul1:hover {
  background-color:bisque;
  border-radius: 40px;
}
@media (max-width:500px) {
  .modul1{
    grid-template-columns: 1fr;
  }
}
