body {
  /* background-color: rgb(55, 120, 178); */
}
h1 {
  text-align: center;
  /* background-color: rgb(227, 229, 213); */
}
.main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.list_mi {
  text-align: center;
  overflow: auto;
  width: 30%;
  height: 860px;
  border-radius: 10px;
  background-color: #d2cca1;
  transition: all 0.3s;
}
.list_mi:hover {
  background-color: #b6b083;
  /* transform: scale(1.05); */
}
/* h2{
  font-size: 2vw;
  margin-right: auto;
  margin-left: auto;
  width: 87%;
  background-color: white;
} */
.input_search {
  /* width: 50%; */
  /* background-color: blue; */
  /* text-align: center; */
  margin-top: 20px;
}
#poisk {
  width: 87%;
  height: 40px;
}
#poisk::placeholder {
  text-align: center;
  font-size: 25px;
}
.list {
  scroll-behavior: smooth;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  width: 87%;
  height: 80%;
  background-color: #d9d9d9;
}
.item {
  cursor: pointer;
  font-size: 25px;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 45px;
  background-color: white;
  transition: all 0.2s;
}
.item:hover {
  background-color: rgb(240, 238, 238);
}
.more {
  border-radius: 10px;
  width: 68%;
  height: 860px;
  background-color: #d2cca1;
}
.pictures {
  border-radius: 8px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  padding: 14px;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 400px;
  background-color: #d9d9d9;
}

.pictures img {
  margin-right: 10px;
  width: 400px;
}
.p {
  margin-top: 20px;
  padding: 14px;
  width: 98%;
  height: 300px;
  overflow: auto;
  /* background-color: #6290c3; */
}
p {
  margin: 16px 13px;
  font-size: 30px;
}
.button1 {
  display: flex;
  /* background-color: #6290c3; */
  justify-content: end;
}
.button1 button {
  cursor: pointer;
  margin-right: 30px;
  width: 12vw;
  height: 5vh;
  font-size: 20px;
}
@media (max-width: 500px) {
  .main {
    justify-content: space-between;
    flex-direction: column;
  }
  .list_mi {
    text-align: center;
    width: 100%;
    height: 650px;
    border-radius: 10px;
  }
  .more {
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: 650px;
  }
  .p {
    margin-top: 20px;
    padding: 14px;
    width: 98%;
    height: 100px;
    overflow: auto;
  }
  .button1 {
    display: flex;
    /* background-color: #6290c3; */
    justify-content: end;
  }
  .button1 button {
    margin-bottom: 30px;
    margin-right: 15px;
    width: 30vw;
    height: 5vh;
    font-size: 20px;
  }
}
