body{
    background-color: rgb(64, 179, 214);
}
h1{
    text-align: center;
    font-size: 40px;
    color:white ;
}
.table_div{
    /* text-align: center; */
    /* background-color: black; */
    /* width: 50%; */
    /* margin: auto; */
}
table{
    /* display: block; */
    margin: auto;
    /* width: 50%; */
    border: 2px solid;
    background-color: white;
    border-collapse: collapse;
    font-size: 24px;
}
td{
    border: 2px solid;
    width: 140px;
    text-align: center;


}