body {
  background-color: rgba(168, 187, 181, 0.973);
}
.avatar {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: auto;
  border-radius: 90px;
  margin-bottom: 10px;
}
.main {
  width: 40%;
  background-color: white;
  height: 300px;
  margin: auto;
}
.login,
.password {
  height: 21.2px;
  margin: auto;
  width: 45%;
  /* margin-top: 10px; */
  /* background-color: rgb(254, 255, 255); */
}
.material-icons {
  /* margin-top: 6px; */
}
.button_enter {
  text-align: center;
}
h2 {
  text-align: center;
  color: red;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
    padding-top: 8px;
  }
  .login{
    width: 60%;
  }
  .password {
    width: 60%;
    /* background-color: blueviolet; */
    padding-top: 8px;
  }
  .password input {
    /* width: 80%; */
  }
  .material-icons{
    /* margin-top: 6px; */
    font-size: 20px;
  }
}
