body {
  background-color: rgb(84, 84, 223);
}
.main {
  width: 30%;
  height: 400px;
  /* background-color: aqua; */
  border: 2px solid white;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h2{
    margin: 0;
}
#sign_up_button_div{
    /* background-color: blueviolet; */
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}