.root{
  margin-top: 8px;
  
}

.main {
  width: 30%;
  height: 400px;
  /* background-color: aqua; */
  border: 2px solid white;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h2 {
  margin: 0;
}
#sign_up_button_div {
  /* background-color: blueviolet; */
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
#sign_up_button_div button {
  border-radius: 8px;
  font-size: 24px;
}
.enter_block {
  width: 30%;
  height: 200px;
  background-color: rgb(42, 165, 159);
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  display: none;
}
.enter_block button {
  width: 30%;
  margin: 0 auto;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
  }
  #sign_up_button_div {
    width: 100%;
  }
  #sign_up_button_div button {
    width: 150px;
  }
  .enter_block {
    width: 100%;
  }
  .enter_block button {
    /* width: 40%; */
    font-size: 25px;
  }
}
