.search {
  width: 50%;
  /* background-color: azure; */
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
.search input {
  font-size: 50px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: scroll;
  gap: 10px;
  width: 50%;
  height: 700px;
  /* background-color: aqua; */
  margin: auto;
  margin-top: 10px;
}
.item {
  width: 225px;
  height: 300px;
  background-color: #094074;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
  }
  .search {
    margin-left: 0;
  }
  .search input {
    font-size: 27px;
  }
  .main {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    grid-template-columns: 1fr;
  }
  .item {
    width: 100%;
  }
}
