@font-face {
    font-family: "Roundhand"; /* Гарнитура шрифта */
    src: url(/webinfo/fonts/Roundhand.ttf); /* Путь к файлу со шрифтом */
  }
#rodina {
    font-family: "Roundhand";
   
  }
#emblem {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
}

.scroll_element > a > * {
    vertical-align: middle;
}

.scroll_element > a {
    margin-top: auto;
    margin-bottom: auto;
}
#oleg {
    display: inline-block;
    width: 10vw;
}
h2 {
    color: aliceblue;
    display: inline-block;
    margin-left: 1vw;
}

#romanovs {
    font-size: 3vw;
}




.year_choice{
    width: 80%;
    margin: auto;

}
.main {
    margin-top: 4vh;
    scroll-snap-type: y mandatory;
    height: 400px;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: inline-block;
    vertical-align: middle;
}
.scroll_element {
    scroll-snap-align: center;
    height: 400px;
    display: flex;
    cursor: pointer;
   width: 80%;
   margin: auto;
    /* margin-left: 4vw; */
}


.main::-webkit-scrollbar {
    display: none;
}



@media (max-width:500px) {
    #emblem {
     
        width: 70%;
  
    }
}