div {
    float: left;
    clear: left;
    font-size: 30px;
}

#inset {
    width: 100px;
    height: 100px;
    background: gray;
    margin: 10px 100px 10px 0px;
    float: right;
}

#spacer {
    width: 0px;
    height: 50px;
}