
body{
    background-color: aquamarine;
    /* margin: 0;
    padding: 0; */
}
div{
    /* margin: 0;
    padding: 0; */
}
.main{
    display: flex;
    background-color: antiquewhite;
    width: 80%;
    height: 70dvh;
    margin: auto;
}
.search{
    /* vertical-align: top; */
    flex: 1;
    background-color: azure;
  
    margin: 30px;
    
}
input{
    margin: auto;
    display: block; 
    margin-top: 30px;
    width: 60%;

}
.list{
    background-color: rgb(217, 255, 0);
    width: 90%;
    height: 23px;
    margin: auto;
}

.view{
    flex: 2;
    background-color: azure;
   margin: 30px 30px 30px 0px;
    
}