body{
    background-color: aquamarine;
    /* margin: 0;
    padding: 0; */
}
div{
    /* margin: 0;
    padding: 0; */
}
.main{
    position: relative;
    background-color: antiquewhite;
    width: 80%;
    height: 700px;
    margin-left: 10%;
}
.search{
    background-color: azure;
    width: 30%;
    height: 640px;
    margin-left: 30px;
    margin-top: 30px;
    /* display: inline-block; */
}
input{
    margin-left: 20%; 
    margin-top: 30px;

    /* display: inline-block; */
}
.list{
    background-color: rgb(217, 255, 0);
    width: 90%;
    height: 23px;
    margin: auto;
}

.view{
    background-color: azure;
    width: 60.5%;
    height: 640px;
    display: inline-block;
    margin-left: 26px;
}