body {
  background-color: #181818;
  
}
h1 {
  color: #9cdcfe;
  text-align: center;
}
h2 {
  color: #e44d26;
  text-align: center;
}
#flutterDiv {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 760px;
 
}
button{
    cursor: pointer;
    transition: all 0.3s;
    font-size: 30px;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.02);
}
.download{
    text-align: center;
}
@media (max-width: 500px) {
  #flutterDiv {
   
    width: 90%;
    /* height: 600px; */
    
   
  }
}