body{
    background-image: url(../img/gradient-peach-background-with-pink-shades.jpg);
    /* background-size: 100%;
    background-repeat: no-repeat; */
    background-size: 1920px 1400px;
    background-size: cover;
}

img{
    width: 28vh;
    margin-left: 10vh;
    margin-top: 10vh;
}
h1{
    font-size: 3vh;
    margin-left: 40vh;
    margin-top: -40vh;
}
h2{
    font-size: 3vh;
    margin-left: 40vh;
    margin-top: 10vh;
}
h3{
    font-size: 3vh;
    margin-left: 110vh;
    margin-top: -30vh;
}
h4{
    font-size: 3vh;
    margin-left: 110vh;
    margin-top: 10vh;
}
h5{ 
    font-size: 4vh;
   margin-left: 7vh;
}