body{
    background-image: url(../img/gradient-peach-background-with-pink-shades.jpg);
    /* background-size: 100%;
    background-repeat: no-repeat; */
    background-size: 1920px 1400px;
    background-size: cover;
}
h1{
    text-align: center;

}

img{
    width: 200px;
    margin-left: 50px;

}
h2{
    margin-left: 30px;
    
}

