body {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  /* position: relative; */
  /* text-align: center; */
}

.kab8 {
  /* position: absolute; */
  width: 168px;
  height: 170px;
  background-color: #eac89f;
  /* top: 93px; */
  border-bottom: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-radius: 0px 0px 10px 0px;
  transform: scale(4.5);
  transform-origin: top left;
  margin-left: 30%;
}
.party29:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party28:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party30:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party31:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party32:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party33:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party34:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party35:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party36:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party37:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party38:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party39:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party40:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party41:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party42:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party43:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party44:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party45:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party46:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party47:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party48:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party49:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party26 {
  position: absolute;
  width: 15px;
  height: 31px;
  background-color: #8a9b85;
  top: 2px;
  left: 2px;
}
.party27 {
  position: absolute;
  width: 41px;
  height: 15px;
  background-color: #8a9b85;
  top: 18px;
  left: 2px;
}
.party28 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 36px;
  left: 2px;
}
.party29 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 63px;
  left: 2px;
}
.party30 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 90px;
  left: 2px;
}
.party31 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 117px;
  left: 2px;
}
.party32 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 144px;
  left: 2px;
}
.party33 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 22px;
}
.party34 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 49px;
}
.party35 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 76px;
}
.party36 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 103px;
}
.party37 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 130px;
}
.party38 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 63px;
}
.party39 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 90px;
}
.party40 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 117px;
}
.party41 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 37px;
}
.party42 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 64px;
}
.party43 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 91px;
}
.party44 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 118px;
}
.party45 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 37px;
}
.party46 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 64px;
}
.party47 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 91px;
}
.party48 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 118px;
}
.party49 {
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  width: 18px;
  height: 10px;
  background-color: #9c958cb6;
  left: 126px;
  top: 3px;
}
.party50 {
  cursor: pointer;
  position: absolute;
  width: 64px;
  height: 6px;
  background-color: #8a9b85;
  left: 57px;
}
.shkaf5 {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #c68866;
  left: 158px;
  top: 134px;
}
.shkaf6 {
  position: absolute;
  width: 10px;
  height: 48px;
  background-color: #c68866;
  left: 158px;
  top: 5px;
}
.space16 {
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #f8e0c2;
  margin-left: 168px;
  margin-top: 89px;
}
.kab9 {
  margin-left: 30%;
  /* text-align: center; */
  cursor: pointer;
  /* position: absolute; */
  width: 168px;
  height: 170px;
  background-color: #eac89f;
  /* top: 265px; */
  border-top: 3px solid #9b7a4e;
  border-right: 3px solid #9b7a4e;
  border-radius: 0px 10px 0px 0px;
  transform: scale(5);
  transform-origin: top left;
}
.party3:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party4:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party5:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party6:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party7:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party8:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party9:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party10:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party11:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party12:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party13:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party14:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party15:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party16:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party17:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party18:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party19:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party20:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party21:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party22:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party23:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party24:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party1 {
  position: absolute;
  width: 15px;
  height: 31px;
  background-color: #8a9b85;
  top: 2px;
  left: 2px;
}
.party2 {
  position: absolute;
  width: 41px;
  height: 15px;
  background-color: #8a9b85;
  top: 18px;
  left: 2px;
}
.party3 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 36px;
  left: 2px;
}
.party4 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 63px;
  left: 2px;
}
.party5 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 90px;
  left: 2px;
}
.party6 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 117px;
  left: 2px;
}
.party7 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 144px;
  left: 2px;
}
.party8 {
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 22px;
}
.party9 {
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 49px;
}
.party10 {
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 76px;
}
.party11 {
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 103px;
}
.party12 {
  transition: all 300ms;
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: #9c958cb6;
  top: 154px;
  left: 130px;
}
.party13 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 63px;
}
.party14 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 90px;
}
.party15 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 53px;
  top: 117px;
}
.party16 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 37px;
}
.party17 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 64px;
}
.party18 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 91px;
}
.party19 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 81px;
  top: 118px;
}
.party20 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 37px;
}
.party21 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 64px;
}
.party22 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 91px;
}
.party23 {
  transition: all 300ms;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  left: 107px;
  top: 118px;
}
.party24 {
  transition: all 300ms;
  position: absolute;
  width: 18px;
  height: 10px;
  background-color: #9c958cb6;
  left: 126px;
  top: 3px;
}
.party25 {
  transition: all 300ms;
  position: absolute;
  width: 64px;
  height: 6px;
  background-color: #8a9b85;
  left: 57px;
}
.shkaf3 {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #c68866;
  left: 158px;
  top: 134px;
}
.shkaf4 {
  position: absolute;
  width: 10px;
  height: 48px;
  background-color: #c68866;
  left: 158px;
  top: 5px;
}
.space19 {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f0c692;
  transform: scale(4.5);
  transform-origin: top left;
  left: 30%;
  top: 5%;
}
.n1 {
  position: relative;
  width: 230px;
  height: 160px;
  position: absolute;
  background-color: #f0c692;
  border: 3px solid #9b7a4e;
  border-radius: 20px 0px 0px 0px;
  transform: scale(4.5);
  transform-origin: top left;
  left: 23%;
  top: 5%;
}
.party51 {
  position: absolute;
  width: 15px;
  height: 41px;
  background-color: #8a9b85;
  top: 103px;
  left: 44px;
}
.party52 {
  position: absolute;
  width: 31px;
  height: 15px;
  background-color: #8a9b85;
  top: 130px;
  left: 28px;
}
.doska {
  position: absolute;
  width: 6px;
  height: 64px;
  background-color: #8a9b85;
  top: 40px;
}
.party53 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 120px;
  left: 62px;
  transition: all 300ms;
}
.party54 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 120px;
  left: 87px;
  transition: all 300ms;
}
.party55 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 120px;
  left: 112px;
  transition: all 300ms;
}
.party56 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 120px;
  left: 137px;
  transition: all 300ms;
}
.party57 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 120px;
  left: 162px;
  transition: all 300ms;
}
.party58 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 120px;
  left: 187px;
  transition: all 300ms;
}
.party59 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 68px;
  left: 62px;
  transition: all 300ms;
}
.party60 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 68px;
  left: 87px;
  transition: all 300ms;
}
.party61 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 68px;
  left: 112px;
  transition: all 300ms;
}
.party62 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 68px;
  left: 137px;
  transition: all 300ms;
}
.party63 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 68px;
  left: 162px;
  transition: all 300ms;
}
.party64 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 68px;
  left: 187px;
  transition: all 300ms;
}
.party65 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 20px;
  left: 62px;
  transition: all 300ms;
}
.party66 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 20px;
  left: 87px;
  transition: all 300ms;
}
.party67 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 20px;
  left: 112px;
  transition: all 300ms;
}
.party68 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 20px;
  left: 137px;
  transition: all 300ms;
}
.party69 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 20px;
  left: 162px;
  transition: all 300ms;
}
.party70 {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: #9c958cb6;
  top: 20px;
  left: 187px;
  transition: all 300ms;
}
.shkaf7 {
  position: absolute;
  width: 9px;
  height: 124px;
  background-color: #c68866;
  top: 20px;
  left: 221px;
}
.party53:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party54:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party55:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party56:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party57:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party58:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party59:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party60:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party61:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party62:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party63:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party64:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party65:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party66:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party67:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party68:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party69:hover {
  transform: scale(1.1);
  z-index: 1;
}
.party70:hover {
  transform: scale(1.1);
  z-index: 1;
}

.space2 {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #f0c692;
  top: -3px;
  left: 20px;
}
.n7 {
  width: 230px;
  height: 160px;
  position: absolute;
  background-color: #f0c692;
  border: 3px solid #9b7a4e;
  border-radius: 20px 0px 0px 0px;
  transform: scale(-4.5);
  /* transform-origin: top left; */
  left: 40%;
  top: 40%;
}
