@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Inconsolata", monospace;
}
h3 {
    /* text-align: left; */
    font-size: 40px;
    /* color: aliceblue; */
}
body {
    background-color: #181818;
    text-align: center;

    /* user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; */
}
img {
    width: 10vw;
    margin-left: 10vw;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
}
.home {
    padding: 20px;
    border: none;
    background: #41b702;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.textbody {
    /* color: #cccccc; */
    display: block;
    width: 80vw;
    margin-left: 10vw;
    line-height: initial;
    position: relative;
}
p {
    /* margin-left: 50px; */
    font-size: 30px;
}
pre {
    font-size: 40px;
}
div {
    line-height: 80px;
    /* display: inline-block; */
}
.textfield {
    width: 95vw;
    height: 10vh;
    display: inline;
}

.submitbtn {
    float: right;
    margin-right: 1vw;
    margin-top: 1vh;
}

.textbtns {
    vertical-align: top;
    display: inline-flex;
    width: 3vw;
    max-height: 10vh;
    line-height: 4vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: left;
    align-items: flex-start;
}
h1 {
    margin-top: 20px;
    text-align: left;
    white-space: pre-wrap;
    /* border-left: 2px solid black; */
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
    color: #ffffff;
}

button {
    all: initial;
    display: inline;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

button * {
    all: unset;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.close {
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content {
    line-height: initial;
    display: flex;
    flex-direction: row;
}
.lines {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: initial;
    margin-top: 20px;
}
.lines > h1 {
    color: #888;
    margin: initial;
}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
@media (max-width: 768px) {
    h3 {
        text-align: center;
    }
    p {
        font-size: 30px;
        margin-left: 0;
    }
    h1 {
        margin-left: 0;
        text-align: left;
    }
    a {
        font-size: 30px;
    }
}
