body {
  background: antiquewhite;
}
.links {
  position: fixed;
}

a {
  margin-left: 2vw;

  font-size: 2vw;
}
.good_links {
  /* position: fixed; */
  float: left;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 1em;
}
i {
  font-size: 2vw;
}
aside {
  float: left;
  width: 10vw;
}
main {
  margin-left: 10vw;
  text-align: center;
}
h1 {
  font-size: 3vw;
}
pre {
  text-align: left;
  margin-left: 30%;
  font-size: 2em;
}
img {
  width: 20%;
}
#sizedbox {
  height: 300px;
}
.sizedbox {
  height: 20vh;
}
@media (max-width: 768px) {
  aside {
    font-size: 16vw;
  }
  a,
  i {
    font-size: 3.5vw;
  }
}

table {
  float: left;
}

#tech_chart {
  font-size: 25px;
}
