@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  /* overflow: hidden; */
  /* scrollbar-width: 50px; */
  font-family: "Ysabeau", sans-serif;
  background-color: #181818;
  text-align: center;
}
body::-webkit-scrollbar {
  display: none;
}
h1 {
  color: bisque;
}
p {
  margin: 0;
  /* font-size: 200%; */
}
button {
  border-radius: 1.5vw;
  margin: 0;
  padding: 0;
  background: #181818;
  width: 21vw;
  max-width: 400px;
  height: 6vw;
  max-height: 85px;
  font-size: 160%;
  color: #8cada5;
  transition: all 0.3s ease-out;
}
button:hover {
  transform: scale(1.1);
  background: #0a0707;
  border-radius: 0;
  color: #1bac88;
  font-size: 180%;
  cursor: pointer;
}
.material-icons{
    font-size: 100%;
}
.adminBtn {
  opacity: 0;
}
.adminBtn:hover {
  opacity: 100%;
}
.passlabel {
  display: block;
  height: 3vh;
  padding-top: 1.5vh;
  font-size: 20px;
}

/* h2 {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} */

#getfile {
  width: 0;
  height: 0;
}

#files {
  text-align: center;
}

.adminPart,
.userPart {
  /* float: right; */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #aaa;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a {
  font-size: 2vw;
}

@media screen and (max-width: 600px) {
  a {
    font-size: 5vw;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .header > * > * {
    margin-top: 0;
    /* margin-bottom: 1vh; */
  }
  button{
    width: 40vw;
  max-width: 400px;
  height: 16vw;
  max-height: 85px;
    
  }
}
