body {
    background-color: #1b2021;
}
h1 {
    font-size: 100px;
    background-image: url(https://static8.depositphotos.com/1385248/876/i/450/depositphotos_8762333-stock-photo-dramatic-clouds-with-mountain-and.jpg);
    background-size: 100%;
}