.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  font-size: 6vw;
}
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  /* overflow: hidden; */
  /* scrollbar-width: 50px; */
  font-family: "Ysabeau", sans-serif;
  background-color: #181818;
  display: grid;
  grid-template-columns: 1fr 2.6fr 1fr;
}
body::-webkit-scrollbar {
  display: none;
}
aside {
  text-align: center;
}
h1 {
  color: bisque;
}

.left_grade h3 {
  margin: 0;
}
.pismo_div_mobile {
  display: none;
}
img {
  transition: all 0.1s ease;
}
main {
  height: 200.1%;
  text-align: center;
  border-left: 4px solid #55a792;
  border-right: 4px solid #55a792;
}
.main_header {
  text-align: right;
  /* background-color: #02675a; */
}
.trumbon {
  margin-top: 0;
  font-size: 40px;
  float: left;
}
.main_header a {
  display: inline-block;
  margin: 8px;
}

hr {
  display: none;
}
#desktop_hr{
  display: inherit;
}

#pismo {
  font-family: "Roundhand";
  font-size: 2vw;
  color: bisque;
}
#pismo p {
  margin-top: 1px;
  margin-bottom: 1px;
}
#pismo:hover {
  color: #02675a;
}
#img_svo {
  width: 16vw;
}
.main_blackboards img {
  width: 25%;
}
.main_blackboards a {
  display: inline;
  margin: 8px;
}
.main_buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main_buttons a {
  display: inline-block;
}

.rightContent {
  grid-template-columns: 1fr 2fr;
  margin-top: 10px;
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
}
@font-face {
  font-family: "Roundhand"; /* Гарнитура шрифта */
  src: url(../fonts/Roundhand.ttf); /* Путь к файлу со шрифтом */
}



a:hover,
img:hover {
  transform: scale(1.05);

  color: #02675a;
}

.leftArrow,
.rightArrow {
  display: none;
}

#mobile_school {
  display: none;
}

@media (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
  .left {
    border-left: 2px solid #55a792;
    border-right: 2px solid #55a792;
  }
  .left h1 {
    font-size: 10vw;
    margin-top: 90px;
  }
  .left h2 {
    font-size: 8vw;
  }
  .left h3 {
    font-size: 6vw;
  }
  main {
    height: 200.1%;
    text-align: center;
    border-left: 2px solid #55a792;
    border-right: 2px solid #55a792;
  }
  .main_header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 94%;
    top: 0;
  }
  .main_buttons{
    display: grid;
    grid-template-columns: 1fr ;
  }
  .trumbon {
    margin-top: 0;
    font-size: 40px;
    float: left;
  }
  .main_header a {
    display: inline-block;
    margin: 8px;
  }
  hr {
    display: inherit;
  }
  .pismo_div_mobile {
    display: inherit;
  }
  .pismo_div_desktop {
    display: none;
  }
  #pismo {
    font-family: "Roundhand";
    font-size: 8vw;
    color: bisque;
    display: inline-block;
  }

  #img_svo {
    width: 60vw;
  }

  .main_blackboards img {
    width: 35%;
  }

  .main_buttons {
    display: grid;
  }
  .main_buttons button {
    border-radius: 1vw;
    width: 64vw;
    height: 12vw;
    font-size: 6vw;
    margin-top: 10px;
  }

  .right {
    border-left: 2px solid #55a792;
    border-right: 2px solid #55a792;
  }
  a {
    text-decoration: none;
    font-size: 6vw;
  }
  #right_h2 {
    font-size: 14vw;
    color: bisque;
  }
}
