.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  font-size: 6vw;
}
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  /* overflow: hidden; */
  scrollbar-width: 50px;
  font-family: "Ysabeau", sans-serif;
  /* position: fixed; */
  background-color: #181818;
  display: grid;
  grid-template-columns: 1fr 2.6fr 1fr;
}
body::-webkit-scrollbar{
  display: none;
}

aside {
  text-align: center;
}
h1 {
  color: bisque;
}
.left_grade h3{
  margin: 0;
}
img{
  transition: all 0.1s ease;
}
main {
  height: 200.1%;
  text-align: center;
  border-left: 4px solid #55a792;
  border-right: 4px solid #55a792;
}
.main_header {
  text-align: right;
}
.main_header a {
  display: inline-block;
  margin: 8px;
}
#pismo {
  font-family: "Roundhand";
  font-size: 2vw;
  color: bisque;
  display: inline-block;
}
#pismo:hover {
  color: #02675a;
}
#img_svo {
  width: 16vw;
}
.main_blackboards img {
  width: 25%;
}
.main_blackboards a {
  display: inline;
  margin: 8px;
}



.rightContent {
  grid-template-columns: 1fr 2fr;
  margin-top: 10px;
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
}
@font-face {
  font-family: "Roundhand"; /* Гарнитура шрифта */
  src: url(../fonts/Roundhand.ttf); /* Путь к файлу со шрифтом */
}

a {
  text-decoration: none;
  font-size: 1.5vw;
  color: #8cada5;
  display: block;
  transition: all 0.1s ease;
}

a:hover,
img:hover {
  transform: scale(1.05);
  
  color: #02675a;
}

.leftArrow,
.rightArrow {
  display: none;
}

#mobile_school {
  display: none;
}
.main_buttons button {
  border-radius: 1vw;
  /* border: none; */
  margin: 1vw;
  background: #181818;
  width: 14vw;
  height: 3vw;
  font-size: 1.3vw;
  color:#8cada5 ;
  /* opacity: 90%; */
  /* font-weight: bold; */
  /* box-shadow: 0 #55a792; */
  
}
.main_buttons a {
  display: inline-block;
}
@media (max-width: 500px) {
  .left,
  .right {
    position: fixed;
    margin-top: -10px;
    left: -80vw; /* -73 */
    /* background: #218580; */
    width: 75vw;
    padding-right: 2.5%;
    /* height: 100.9vh; */
    color: #fff;
    border-right: 1vw solid #025167;
    /* transition: all 330ms ease-in-out; */
    z-index: 100;
  }

  .right {
    right: -80vw;
    left: auto;
  }

  aside h2 {
    font-size: 10vw;
  }

  aside a {
    color: #fff;
    font-size: 7vw;
    padding-left: 10px;
    text-align: center;
    display: block;
    /* transition: all 0.1s ease; */
    margin-top: 1vw;
  }

  aside h2 > a {
    margin: 0;
    margin-top: 7vw;
    margin-left: 1vw;
    font-size: 10vw;
    text-align: center;
  }

  main {
    /* height: 100.1%; */
    /* width: 95%; */
    margin-top: -10px;
    margin-left: 2vw;
    margin-right: -10px;
    text-align: center;
  }

  a,
  button {
    margin-left: auto;
    margin-right: auto;
  }

  .buttons {
    position: fixed;
    width: calc(100% - 16px);
    height: 0vh;
    top: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .leftArrow,
  .rightArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    padding: 0;
    margin: 0;
    border-radius: 10vw;
    box-shadow: none;
    background-color: lightslategray;
    font-size: 5vw;
    cursor: pointer;
    z-index: 100;
    color: #fff;
  }

  .rightContent {
    height: inherit;
    overflow: scroll;
  }
}
