body {
  display: grid;
  grid-template-columns: 1fr 2.6fr 1fr;
}
.pismo_div_mobile {
  display: none;
}

main {
  border-left: 4px solid #55a792;
  border-right: 4px solid #55a792;
}
.main_header {
  text-align: right;
}
.trumbon {
  margin-top: 0;
  font-size: 40px;
  float: left;
}
.main_header a {
  display: inline-block;
  margin: 8px;
}
h3 {
  font-size: 1.5vw;
  position: relative;
  transition: all 0.3s ease;
}
h3:hover {
  transform: scale(1.1);
}
hr {
  display: none;
}
#desktop_hr {
  display: inherit;
}

#pismo {
  font-family: "Roundhand";
  font-size: 2vw;
  color: bisque;
}

#pismo:hover,
#Rockus:hover,
#courses:hover {
  color: #02675a;
}
#img_svo {
  width: 16vw;
  transition: all 0.3s;
}
#museum {
  transition: all 0.3s;
}
#blackboard {
  transition: all 0.3s;
}
#img_svo:hover,
#blackboard:hover,
#museum:hover {
  transform: scale(1.05);
}
.main_blackboards img {
  width: 25%;
}
.main_blackboards a {
  display: inline;
  margin: 8px;
}
.main_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@font-face {
  font-family: "Roundhand"; /* Гарнитура шрифта */
  src: url(../fonts/Roundhand.ttf); /* Путь к файлу со шрифтом */
}

@media (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
  .left {
    border-left: 2px solid #55a792;
    border-right: 2px solid #55a792;
  }
  .left h1 {
    font-size: 10vw;
    margin-top: 90px;
  }
  .left h2 {
    font-size: 8vw;
  }
  .left h3 {
    font-size: 6vw;
  }
  main {
    height: 200.1%;
    text-align: center;
    border-left: 2px solid #55a792;
    border-right: 2px solid #55a792;
  }
  .main_header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 94%;
    top: 0;
  }
  .main_buttons {
    display: grid;
    grid-template-columns: 1fr;
  }
  .trumbon {
    margin-top: 0;
    font-size: 40px;
    float: left;
  }
  .main_header a {
    display: inline-block;
    margin: 8px;
  }
  hr {
    display: inherit;
  }
  .pismo_div_mobile {
    display: inherit;
  }
  .pismo_div_desktop {
    display: none;
  }
  #pismo {
    font-family: "Roundhand";
    font-size: 8vw;
    color: bisque;
    display: inline-block;
  }

  #img_svo {
    width: 60vw;
  }

  .main_blackboards img {
    width: 35%;
  }

  .main_buttons {
    display: grid;
  }
  .main_buttons button {
    border-radius: 1vw;
    width: 64vw;
    height: 12vw;
    font-size: 6vw;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    font-size: 6vw;
  }
}
