a {
  text-decoration: none;
}

body {
  width: 95%;
  margin: auto;
  background-color: rgb(40, 48, 48);
  margin-top: 0;
  /* cursor: all-scroll; */
}
.header {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
@media (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .header_left_block h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 1200px) {
  .header_left_block h1 {
    font-size: 1.2em;
  }
}
.header_left_block {
  display: flex;
  /* justify-content: space-between; */
  padding: 15px;
}
@media (max-width: 500px) {
  .header_left_block h1 {
    font-size: 1.5em;
  }
}
.header_left_block h1 {
  /* font-size: 2em; */
  color: rgb(253, 209, 156);
  margin: 0;
  margin-left: 10px;
  /* height: 38px; */
}

h1 {
  border-radius: 8px;
  padding: 5px;
  display: inline-block;
}
.header_right_block {
  color: aliceblue;
  padding: 5px 0 0 0;
  /* flex-shrink: 4; */
}

.user_nav {
  /* position: relative; */
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  margin-left: auto;
}
.user_nav h1 {
  display: inline-block;
  margin: 0;
  padding-top: 6px;
}
ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
li {
  margin: 0 10px 0 10px;
  padding: 5px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  li {
    margin: 0;
  }
}
a,
a h1,
li {
  color: inherit;
  transition: all 0.05s ease;
  
}
a h1:hover,
li:hover,
a:hover {
  transform: scale(1.02);
}
a img {
  color: inherit;
  transition: all 0.2s ease-in-out;
}
a img:hover {
  transform: scale(1.02);
}
a h1:hover,
li:hover,
.user_nav img:hover {
  background-color: rgb(27, 32, 32);
  animation-name: change_color;
  animation-duration: 0.5s;
}
.user_nav img {
  border-radius: 8px;
  padding: 5px;
  /* cursor:grabbing; */
}
@keyframes change_color {
  0% {
    background-color: rgb(40, 48, 48);
  }
  50% {
    background-color: crimson;
  }
  100% {
    background-color: rgb(27, 32, 32);
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  width: 90%;
  margin: auto;
}

.cours {
  display: grid;
  grid-template-columns: 0.3fr 2fr 1fr;
  height: 26vh;
  background-color: rgb(82, 103, 129);
  border-radius: 0.8vw;
}
.web {
  background-color: #27543d;
}
.mobile {
  background-color: #0e4a99;
}

.one {
  color: rgb(253, 209, 156);
  margin: 1vw;
  font-size: 1.6vw;
  /* font-size: 1.6vw; */
}
.two {
  color: bisque;
  margin: 1vw;
  font-size: 1.7vw;
}
.three {
  margin-top: 1vh;
}

#web {
  width: 100%;
}
.blackboard_button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 20%;
  font-size: 2em;
}

@media (max-width: 500px) {
  #our_courses {
    font-size: 6vh;
    margin-bottom: 1vh;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .one {
    margin: 1vw;
    font-size: 3vh;
    /* font-size: 6vw; */
  }
  .two {
    margin: 1vw;
    font-size: 2.6vh;
  }
  .three {
    margin-top: 1vh;
  }
  .courses {
    border-radius: 2vw;
  }
}
